@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

}
body{
    font-family: 'Poppins', sans-serif;
  }


.logos img{
    width:260px;
}
section{
    background-image: url('7')
}